<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%boldWhite(%d)] --- [%boldBlue(%-5level)][%boldGreen(%-40.40logger{40})][%boldMagenta(%-4.4L)] - %msg%n%rEx</Pattern>
        </encoder>
    </appender>

    <logger name="com.dharrigan" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
